.next
node_modules
package.json
package-lock.json
**/.git
**/.svn
**/.hg
**/node_modules
**/.yarn
**/dist
**/build
**/.cache
**/.next
**/.vercel
**/.output
**/coverage
**/*.min.*
**/public
**/*.config.*
**/.eslintrc.*
**/.prettierrc.*
**/jest.config.*
