.next
node_modules
package.json
package-lock.json
**/.git
**/.svn
**/.hg
**/node_modules
**/.yarn
**/dist
**/build
**/.cache
**/.next
**/.vercel
**/.output
**/coverage
**/.DS_Store
**/*.min.*
**/public
